In [1]:
import pandas as pd
import numpy as np

In [2]:
df_airports = pd.read_csv(r'H:\OneDrive\Data(vmonex123)\Course\Ventrunix\20220528 L7\flight_delay_compressed\airports.csv')
df_airlines = pd.read_csv(r'H:\OneDrive\Data(vmonex123)\Course\Ventrunix\20220528 L7\flight_delay_compressed\airlines.csv')
df_flights = pd.read_csv(r'H:\OneDrive\Data(vmonex123)\Course\Ventrunix\20220528 L7\flight_delay_compressed\flights.csv')

C:\Users\ALeung\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# Q1 Average depature delay of each airline per airport

# AIRLINE
# ORIGIN AIRPORT
# Total flight (number of flight)
# OPERATED RATE (non cancel rate)
# DELAY RATE (DEPARUTRE) --> Groupby
# AVERAGE DELAY MINUTES (By Airline) --> Groupby

In [4]:
df_flights.shape

(5819079, 31)

In [7]:
df_flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [48]:
df_flights['DEPARTURE_DELAY']

0         -11.0
1          -8.0
2          -2.0
3          -5.0
4          -1.0
           ...
5819074    -4.0
5819075    -4.0
5819076    -9.0
5819077    -6.0
5819078    15.0
Name: DEPARTURE_DELAY, Length: 5819079, dtype: float64

In [43]:
df_flights['OPERATED RATE'] = df_flights['CANCELLED'].apply(lambda x : 1 if (x ==0 ) else 0)
df_flights.sample(100)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,OPERATED RATE
2570279,2015,6,11,4,UA,1753,N75858,SFO,MCO,2230,...,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
4683428,2015,10,19,1,NK,763,N607NK,13930,13487,1910,...,15.0,0,0,NaN,15.0,0.0,0.0,0.0,0.0,1
2523135,2015,6,9,2,EV,6051,N33182,ORD,LIT,911,...,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
1395746,2015,3,31,2,WN,3769,N239WN,BUR,SJC,1355,...,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
1306606,2015,3,26,4,DL,1592,N811DZ,SAN,ATL,615,...,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700897,2015,10,20,2,AA,1440,N4XXAA,11298,10423,2040,...,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
3228417,2015,7,21,2,AA,358,N4WPAA,STL,DFW,1055,...,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
691416,2015,2,15,7,OO,7388,N910EV,SLC,EKO,1713,...,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
1699583,2015,4,19,7,EV,4955,N882AS,ATL,ILM,1210,...,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
885893,2015,2,27,5,NK,501,N508NK,MCI,LAS,2155,...,38.0,0,0,NaN,38.0,0.0,0.0,0.0,0.0,1

In [52]:
df_flights.groupby('AIRLINE').agg({
    'ORIGIN_AIRPORT': 'count',
    'OPERATED RATE' : lambda x: x.mean(),
    'DEPARTURE_DELAY': lambda x: x.mean()*60,
})

         ORIGIN_AIRPORT  OPERATED RATE  DEPARTURE_DELAY
AIRLINE
AA               725984       0.984960       534.051381
AS               172521       0.996122       107.148043
B6               267048       0.983988       690.861160
DL               875881       0.995634       442.155251
EV               571977       0.973371       522.956070
F9                90836       0.993527       801.051501
HA                76272       0.997758        29.142790
MQ               294632       0.949004       607.511292
NK               117379       0.982927       956.685953
OO               588353       0.983071       468.066229
UA               515723       0.987255       866.126461
US               198715       0.979534       368.468215
VX                61903       0.991374       541.355706
WN              1261855       0.987286       634.919178

In [13]:
# Q2 (Bonus)
# Rate per session for operated flights only

# ORIGIN AIRPORT
# 0-6AM Rate
# 6AM-12pm Rate
# 12-6PM Rate
# 6PM-12PM Rate


# 1. 30 -> 0-6am
# 2. 1400 -> 12-6PM
# 3. 2300 -> 6PM- 12PM